<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <%= render 'order_details' %>

  <%= link_to "Continue Shopping", root_path, class: 'btn-lg btn-primary order-btn' %>

</section>
