<header class="page-header">
  <h1>About Us</h1>
</header>
<p>Jungle is a popular e-commerce plant store built using Ruby on Rails, a web application framework that emphasizes convention over configuration. 
The website offers a wide variety of plants and accessories, with an emphasis on sustainable and environmentally-friendly practices. 
The site's intuitive user interface and seamless checkout process make it easy for customers to find and purchase the products they're looking for. 
The site's backend is built on a solid foundation of Rails best practices, ensuring that the site is secure, performant, and easy to maintain and 
demonstrates the power and flexibility of Ruby on Rails for building robust websites.
</p>
